<div class="container">
    <div class="panel panel-default">
            <div class="panel-heading">Profile</div>
            <div class="panel-body">
                <form name="profileForm" ng-submit="profile.update()">
                    <div class="form-group>">
                        <label>Name</label>
                        <input name="name" type="text" class="form-control" ng-model="profile.user.name">
                    </div>
                    <div class="form-group">
                        <label>Bio</label>
                        <input name="bio" type="text" class="form-control" ng-model="profile.user.bio">
                    </div>
                    <button type="submit" class="btn btn-default" ng-disabled="!profileForm.$dirty || !profile.user.name">Update</button>
                </form>
            </div>
        </div>
</div>
